Build/
Saved/
Intermediate/
Binaries/
.vs/
*.dll
*.pdb
*.db
*.ipch
*.log
Binaries/Win64/UE4Editor-Win64-DebugGame.modules
Binaries/Win64/UnholyEditor-Win64-DebugGame.target
Binaries/Win64/UE4Editor.modules
Binaries/Win64/Unholy.exe
